.toggle{
    text-align: center;
}

.switch{
    
    display: inline-block;
    width: 85px;
    height: 35px;
    background-color: rgb(196, 199, 199);
    border-radius: 50px;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}
.switch::before{
    position:absolute;
    content: '';
    top: 2px;
    left: 3px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition:all 0.3s;
}

.dark{
    background-color: black;
}

body.dark h1{
    color: white;
}
body.dark .switch::before{
    left: 50px;
    background-color: black;
}