.mapboxgl-popup {
    background-color: #002244;
    color: rgb(19, 16, 16);
    width: auto;
    font-size: 20px;
    border-radius: 10px;
}

html{
    scroll-behavior: smooth;
}

.first, .second, .third, .fourth, .fifth{
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.sixth, .seventh, .eight, .nine{
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.first{ 
    /* here p block is like a layer on the map */
    /* background-color: white; */
background-image: url('vac1.png');
}

.second{
    background-image: url('vac2.png');
}

.third{
    background-image: url('vac3.png');
}

.fourth{
    background-image: url('vac4.png');
}

.fifth{
    background-image: url('vac5.png');
}

.sixth{
    background-image: url('vac6.png');
}

.seventh{
    background-image: url('vac7.png');
}

.eight{
    background-image: url('vac8.png');
}

.nine{
    background-image: url('vac9.png');
}