p{ 
    /* here p block is like a layer on the map */
    /* background-color: orange; */
background-image: url('vac1.png');
background-size: cover;
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
}

.mapboxgl-popup {
    background-color: #002244;
    color: black;
max-width: 20px;
}

*{
    margin: 0;
    padding: 0;
}
body{

    /* background-color: #002244; */
    
    background-color: grey;
}
#map{
    margin: 80px 220px;
    width: 1100px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
}